<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="{% url 'home' %}">Home</a>
                    {% if user.is_authenticated %}
                    <a href="{% url 'create_receipt' %}">Create Receipt</a>
                    <a href="{% url 'category_list' %}">Category List</a>
                    <a href="{% url 'create_category' %}">Create Category</a>
                    <a href="{% url 'account_list' %}">Account List</a>
                    <a href="{% url 'create_account' %}">Create Account</a>
                    <a href="{% url 'logout' %}">Logout</a>
                    {% else %}
                    <a href="{% url 'signup' %}">Signup</a>
                    <a href="{% url 'login' %}">Login</a>
                    {% endif %}
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <div>
            <h1>Create Account</h1>
            <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Create</button>
        </div>
    </main>
</body>
</html>
